.div1
{
 width: 80px;
 height: 280px;
 background-color: green;
}
.div2
{
    width: 200px;
    height: 140px;
    background-color: yellow;
}
.div3
{
    width: 200px;
    height: 140px;
    background-color: red;
} 
.debut
{
    display: flex;
    border-radius: 500px; 
    overflow: hidden;
    width: 280px;
    height: 280px;
}